@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* font-family: "Barlow", sans-serif; */
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 50px;
}

header {
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 70px;
  z-index: 1000;
}

.my-logo {
  width: 150px;
}

.header-box {
  display: flex;
  gap: 30px;
  list-style: none;
}

.header-footer {
  display: flex;
  gap: 25px;
  list-style: none;
  margin-right: 50px;
}

.banner {
  padding-top: 70px;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
}

.banner img {
  width: 100%;
  height: 100%;
  display: block;
}

.banner-text {
  position: absolute;
  text-align: left;
  color: white;
  margin-top: 10px;
}

.banner-text h1 {
  padding: 10px 20px;
  font-size: 5rem;
}

.player img {
  display: block;
  position: relative;
  z-index: 1;
  margin: 150px auto;
  width: 100%;
  height: 442px;
}

.player-text {
  border-radius: 1px;
  background-color: red;
  height: 440px;
  width: 55%;
  clip-path: polygon(0 0, 59% 0, 96.5% 100%, 0% 100%);
  position: absolute;
  text-align: left;
  left: 0;
  bottom: -440px;
  z-index: 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inside-box {
  display: flex;
  flex-direction: column;
}

.player-text h2 {
  color: white;
  padding: 10px 30px;
  font-size: 4rem;
}

.player-text p {
  padding: 10px 30px;
  align-items: center;
  letter-spacing: 1px;
  color: white;
  align-content: center;
  font-size: 1rem;
}

.coverage {
  display: flex;
  position: relative;
  top: -150px;
}

.coverage img {
  width: 697px;
  height: 440px;
  clip-path: polygon(0 0, 96.5% 0, 59% 100%, 0 100%);
}

.coverage-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
}

.coverage-text h2 {
  letter-spacing: 1px;
  color: red;
  margin-bottom: 20px;
}

.coverage-text p {
  letter-spacing: 1px;
  color: black;
}

.content {
  display: flex;
  justify-content: center;
  padding: 0 80px;
  margin-top: 30px;
  /* margin-left: -100px; */
  position: relative;
}

.content-images {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 25px;
  width: 100%;
  max-width: 1200px;
  padding: 0;
  justify-content: center;
}

.content-images li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-images img {
  width: 45px;
  height: auto;
  display: block;
}

.content-text {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.content h2 {
  margin-top: -100px;
}

.item-follow {
  background-image: url(./images/bg-2x.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  display: flex;
  margin-top: 60px;
  top: 80px;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.item-images {
  display: flex;
  gap: 50px;
  list-style: none;
  margin-top: 10px;
}

.container h2 {
  color: white;
  padding: 5px 30px;
  font-size: 25px;
}

.item-images svg {
  fill: white;
}

.footer {
  height: 80px;
  background-color: black;
  display: flex;
  padding: 15px 40px;
  justify-content: space-between;
  align-items: center;
}

.footer-icon img {
  width: 120px;
}

.footer-text p {
  color: white;
  margin-right: 550px;
  font-size: 10px;
}

.footer-list ul {
  color: white;
  margin-right: auto;
  list-style: none;
  display: flex;
  font-size: 10px;
  gap: 10px;
  margin-right: auto;
}
